@import url("https://fonts.googleapis.com/css2?family=Anta&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables de Tema Claro */
:root {
  /* Fuentes */
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Anta", sans-serif;

  /* Tamaños de fuente */
  --font-size-h1: 2rem; /* 32px */
  --font-size-h2: 1.9rem; /* 24px */
  --font-size-h3: 1.25rem; /* 20px */
  --font-size-body: 1rem; /* 16px */
  --font-size-small: 0.875rem; /* 14px */

  --spacing-padding: 2rem;
  --spacing-margin: 1rem;

  --color-primario: #ffffff;
  --color-secundario: #fcfcfc;
  --color-texto: #000000;
  --color-resaltado: #0ba7c0;
  --color-resaltado-hover: #04809f;
}

/* Variables de Tema Oscuro */
body.dark {
  --color-primario: #141414;
  --color-secundario: #0f0f0f;
  --color-texto: #ffffff;
  --color-resaltado: #00ff87;
  --color-resaltado-hover: #00ff87;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* Títulos */
h1 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h1);
}

h2 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h2);
}

h3 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h3);
}

body {
  background: linear-gradient(
    145deg,
    var(--color-secundario),
    var(--color-primario)
  );
  color: var(--color-texto);
  font-family: Arial, sans-serif;
  font-size: var(--font-size-body);
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
  scroll-behavior: smooth;
}

/* BEGIN HEADER*/
header {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: var(--spacing-padding);
  box-shadow: inset #000000;
  z-index: 3;
}

header nav {
  min-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu-toggle {
  display: none;
  cursor: pointer;
}

header nav .logo a {
  flex: 1;
  text-align: center;
  color: var(--color-texto);
  font-size: var(--font-size-h3);
  font-weight: 500;
}

header nav .logo a span {
  color: var(--color-resaltado);
}

header nav ul {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

header nav ul li a {
  color: var(--color-texto);
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  margin: 0 7px;
  display: block;
  font-weight: 600;
  font-size: var(--font-size-body);
}

header nav ul li a:hover {
  color: var(--color-resaltado-secundario);
}

header .theme-toggle {
  cursor: pointer;
  color: var(--color-texto-primario);
}

header .theme-toggle:hover {
  color: var(--color-resaltado-secundario);
}
/* END HEADER */

/* BEGIN HOME */
.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-padding);
  transition: background-color 0.3s, color 0.3s;
}

.hero-content {
  text-align: center;
  min-width: 1200px;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: var(--font-size-h1);
  margin: 0;
}

.hero-text p {
  margin-top: var(--spacing-margin);
  font-size: var(--font-size-body);
  font-weight: 500;
}

.hero-text .highlight {
  color: var(--color-resaltado);
}

.hero-buttons {
  margin-top: var(--spacing-margin);
}

.hero-buttons .btn-contact,
.hero-buttons .btn-cv {
  border: 2px solid var(--color-resaltado);
  background-color: var(--color-resaltado);
  color: var(--color-primario);
  font-size: var(--font-size-body);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.hero-buttons .btn-contact:hover,
.hero-buttons .btn-cv:hover {
  background-color: var(--color-resaltado-hover);

  border-color: var(--color-resaltado-hover);
}

.hero-buttons .btn-contact i,
.hero-buttons .btn-cv i {
  margin-left: 0.5rem;
}

/* END HOME */

/* BEGIN ABOUT */
.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--spacing-padding);
  transition: background-color 0.3s, color 0.3s;
}

.about-container {
  margin: 0 auto;
}

.about h2 {
  text-align: center;
  font-size: var(--font-size-h2);
  margin-bottom: 1rem;
}

.about-content {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-secundario);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 2rem;
}

.about-details p {
  font-size: var(--font-size-body);
  line-height: 1.6;
  margin: var(--spacing-margin);
}

.about-stats {
  display: flex;
  justify-content: space-around;
  margin-top: var(--spacing-margin);
}

.stat {
  text-align: center;
}

.stat span {
  display: block;
  font-size: var(--font-size-body);
  font-weight: bold;
  color: var(--color-texto-secundario);
}

.stat p {
  font-size: var(--font-size-body);
  margin: 0;
  color: var(--color-resaltado-secundario);
}
/* END ABOUT */

/* Services Section */
.services {
  margin-top: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-padding);
  transition: background-color 0.3s, color 0.3s;
}

.services h2 {
  text-align: center;
  font-size: var(--font-size-h2);
  margin-bottom: var(--spacing-margin);
}

.service-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: var(--spacing-margin);
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secundario);
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.048);
  transition: transform 0.3s, box-shadow 0.3s;
  width: calc(34% - 1rem);
  margin-bottom: 1rem;
  z-index: 0;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.service-card img {
  max-width: 30%;
  margin-bottom: var(--spacing-margin);
}

.service-card h3 {
  font-size: var(--font-size-h3);
  margin-bottom: var(--spacing-margin);
  color: var(--color-resaltado-primario);
}

.service-card p {
  font-size: var(--font-size-small);
  line-height: 1.6;
}

/* Portfolio Section */
.portfolio-section {
  height: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.portfolio-section-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.portfolio-item {
  background-color: var(--color-secundario);
  padding: var(--spacing-padding);
  border-radius: 10px;
  transition: transform 0.3s;
}

.portfolio-item:hover {
  transform: translateY(-10px);
}

.portfolio-item-img {
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

.portfolio-item-img img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.portfolio-item h3 {
  font-family: var(--font-primary);
  color: var(--color-texto);
}

.portfolio-item p {
  font-size: var(--font-size-small);
}

.portfolio-item a {
  color: var(--color-resaltado);
  transition: color 0.3s ease;
}

.portfolio-item a:hover {
  color: var(--color-resaltado-secundario);
}
/* END PORTFOLIO */

/* Blog Section */
.blog-section {
  min-height: 100vh;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
}

.blog-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.blog-entry {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secundario);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.blog-entry:hover {
  transform: translateY(-10px);
}

.blog-content {
  padding: 20px;
}

.blog-content h3 {
  color: var(--color-resaltado-primario);
}

.blog-date {
  font-style: italic;
  opacity: 0.7;
  font-size: var(--font-size-small);
}

.blog-read-more {
  color: var(--color-texto-secundario);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.blog-read-more:hover {
  color: var(--color-texto-primario);
  text-decoration: underline;
}

/* END BLOG */

/* Contact Section */
.contact-section {
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.contact-section .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-padding);
  background-color: var(--color-secundario);
  border-radius: 20px;
}

.contact-content {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info .message-info {
  margin-bottom: 20px;
  line-height: 1.6rem;
}

.contact-info p {
  margin: 10px 0;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.contact-form button {
  background-color: var(--color-primario);
  color: var(--color-texto-primario);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.social-links a {
  color: var(--color-texto-secundario);
  margin: 0 10px;
  font-size: var(--font-size-h2);
}

/* Footer */
footer {
  border-top: 1px solid var(--color-secundario);
  color: var(--color-texto);
  text-align: center;
  padding: 10px 0;
}

/* Media Queries */
@media (max-width: 768px) {
  header .menu-toggle {
    display: block;
    color: var(--color-texto-primario);
  }

  header nav ul {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--color-texto-primario);
    color: var(--color-secundario);
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  header nav ul.show {
    max-height: 400px;
  }

  header nav ul li {
    text-align: center;
  }

  header nav ul li a {
    padding: 1rem;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero-text {
    margin-right: 0;
    text-align: center;
  }

  .hero-image {
    margin-top: 1rem;
  }

  .hero-image img {
    max-width: 60%; /* Ajustar la imagen para pantallas pequeñas */
  }

  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .profile-pic {
    margin-bottom: 1rem;
  }

  .profile-pic img {
    margin-right: 0;
  }

  .about-details p {
    margin-bottom: 1rem;
  }

  .about-stats {
    flex-direction: column;
  }

  .stat {
    margin-bottom: 1rem;
  }

  .service-card {
    width: 100%;
    margin-bottom: 1rem;
  }

  .work-card {
    width: 100%;
    margin-bottom: 1rem;
  }
}
